* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}

nav {
    background: grey;

}
ul {
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    width:100%

}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    display: flex;
    padding: .5em;
}
nav a:hover {
    background: black;
    color:white;
    height:100%
}
a{
    height: 100%;
}
.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size:30px;
}

.footer{
    min-height: 100vh;
}